.sidebar {
  width: 250px;
  background-color: #0078B8; // Blue background
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 40px;
  left: 0;
  transition: width 0.3s ease;

  &.collapsed {
    width: 80px;

    .sidebar-header {
      .collapse-button {
        left: 60px;
      }
    }

    .sidebar-menu ul li .menu-item span {
      display: none;
    }
  }

  .sidebar-header {
    padding: 10px;
    text-align: center;
    position: relative;

    .logo {
      max-width: 70px;
      height: auto;
      margin: 0 auto;
      display: block;
      background-color: transparent;
      border: none;
      padding: 0;
    }

    .collapse-button {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      background: none;
      border: none;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .sidebar-menu {
    flex-grow: 1;
    margin-top: 20px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 15px; /* Add spacing between items */

        .menu-item {
          display: flex;
          align-items: center;
          padding: 14px 15px;
          font-size: 14px;
          color: #333;
          text-decoration: none;
          transition: background-color 0.3s, color 0.3s;
          font-weight: 600;

          &:hover {
            background-color: #b2ebf2;
            border-radius: 8px;
            color: #333;
          }

          &.active {
            background-color: #b2ebf2;
            color: #333;
            border-radius: 8px;
            box-shadow: 0 0 10px #b2ebf247;
          }

          .icon {
            margin-right: 8px;
            font-size: 1.2em; /* Adjust the size of icons */
            color: #333;
          }
        }
      }
    }
  }
}
